In [1]:
import pandas as pd

In [2]:
True_news = pd.read_csv("True.csv")
Fake_news = pd.read_csv("Fake.csv")

In [3]:
True_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
Fake_news

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
True_news['label'] = 0
Fake_news['label'] = 1

In [6]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [7]:
Fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [8]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [9]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [10]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [11]:
dataset = pd.concat([dataset1,dataset2])
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [12]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [13]:
dataset = dataset.sample(frac =1)

In [14]:
dataset

                                                    text  label
14105  As a Catholic I m offended by this Pope s poli...      1
10696  MSNBC host Thomas Roberts on Sunday was specul...      1
3937   GOP presidential nominee Donald Trump has take...      1
15595  Hey Al  Why don t you try going into the neigh...      1
17683  Is there a more corrupt and power hungry group...      1
...                                                  ...    ...
20368  WASHINGTON (Reuters) - U.S. Supreme Court Just...      0
10087  A Mexican columnist just repeatedly stabbed a ...      1
19058  Here s Chris Matthews attacking Trump s speech...      1
14847  SARAJEVO (Reuters) - Bosnia meets the military...      0
23034   This week President Donald Trump followed thr...      1

[44898 rows x 2 columns]

In [15]:
import nltk
import re
from nltk.stem import WordNetLemmatizer

In [16]:
wnl = WordNetLemmatizer()

In [17]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Sanika
[nltk_data]     Deshmukh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [18]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Sanika
[nltk_data]     Deshmukh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
from nltk.corpus import stopwords

In [20]:
stopwords = stopwords.words('english')

In [21]:
def clean_row(row):
    row = row.lower()
    row = re.sub('[^a-zA-Z]',' ',row)
    token = row.split()
    news = [wnl.lemmatize(word) for word in token if not word is stopwords]
    cleannes_news = ' '.join(news)

In [22]:
dataset['text']

14105    As a Catholic I m offended by this Pope s poli...
10696    MSNBC host Thomas Roberts on Sunday was specul...
3937     GOP presidential nominee Donald Trump has take...
15595    Hey Al  Why don t you try going into the neigh...
17683    Is there a more corrupt and power hungry group...
                               ...
20368    WASHINGTON (Reuters) - U.S. Supreme Court Just...
10087    A Mexican columnist just repeatedly stabbed a ...
19058    Here s Chris Matthews attacking Trump s speech...
14847    SARAJEVO (Reuters) - Bosnia meets the military...
23034     This week President Donald Trump followed thr...
Name: text, Length: 44898, dtype: object

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
vectorizer = TfidfVectorizer(max_features = 50000,lowercase = False,ngram_range=(1,2))

In [25]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [26]:
X

14105    As a Catholic I m offended by this Pope s poli...
10696    MSNBC host Thomas Roberts on Sunday was specul...
3937     GOP presidential nominee Donald Trump has take...
15595    Hey Al  Why don t you try going into the neigh...
17683    Is there a more corrupt and power hungry group...
                               ...
22562    21st Century Wire says Every Sunday, our edito...
15435    Does anyone actually believe it s possible tha...
16529    SARAJEVO (Reuters) - Thousands of pensioners f...
4494     BANGKOK (Reuters) - Thailand’s prime minister ...
12068    WASHINGTON (Reuters) - U.S. intelligence agenc...
Name: text, Length: 35000, dtype: object

In [27]:
y

14105    1
10696    1
3937     1
15595    1
17683    1
        ..
22562    1
15435    1
16529    0
4494     0
12068    0
Name: label, Length: 35000, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
train_data,test_data,train_label,test_label = train_test_split(X,y,test_size = 0.2,random_state=0)

In [30]:
train_data

294      BIRMINGHAM, Ala. (Reuters) - Name-calling is n...
19486    LONDON (Reuters) - After months of Brexit talk...
15875    BEIRUT (Reuters) - The main Syrian opposition ...
14078    ANKARA (Reuters) - Iran s Revolutionary Guards...
22334    Jack Shepherd The IndependentDespite George Lu...
                               ...
16891     We ve reported on the lines for food and shor...
1331     Graduates of University of Notre Dame s 2017 c...
3249     Teen Vogue writer, Lauren Duca, humiliated Tuc...
5016     OTTAWA (Reuters) - Most of the people crossing...
14009     A new movie about the Clinton Grifters couldn...
Name: text, Length: 28000, dtype: object

In [31]:
vec_train_data = vectorizer.fit_transform(train_data)

In [32]:
vec_train_data =vec_train_data.toarray()

In [33]:
vec_test_data = vectorizer.fit_transform(test_data)

In [34]:
vec_test_data =vec_test_data.toarray()

In [35]:
vec_train_data.shape , vec_test_data.shape

((28000, 50000), (7000, 50000))

In [36]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [44]:
train_data = pd.DataFrame(vec_train_data,columns = vectorizer.get_feature_names_out())
testing_data = pd.DataFrame(vec_test_data,columns = vectorizer.get_feature_names_out())

In [45]:
train_data

,00,00 AM,00 PM,000,000 Rohingya,000 Syrian,000 The,000 and,000 at,000 emails,...,youtube https,yr,yr old,yuan,zero,zip,zone,zone and,zones,zones in
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
from sklearn.naive_bayes import MultinomialNB

In [47]:
NB = MultinomialNB()

In [48]:
NB.fit(train_data,train_label)

MultinomialNB()

In [49]:
y_pred = NB.predict(testing_data)

In [50]:
test_label

10598    0
11018    1
863      1
14653    1
16954    0
        ..
21125    0
11062    0
9879     0
5073     1
15930    1
Name: label, Length: 7000, dtype: int64

In [51]:
y_pred

array([1, 1, 1, ..., 0, 1, 1], dtype=int64)

In [52]:
from sklearn.metrics import accuracy_score

In [53]:
accuracy_score(test_label,y_pred)

0.6971428571428572

In [55]:
y_pred_train = NB.predict(train_data)

In [56]:
accuracy_score(train_label,y_pred_train)

0.9614642857142857